texmf-local_private_sync.sh

## Core latex/pdflated auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt

## Intermediate documents:
*.dvi
*-converted-to.*

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux

*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex*
*.synctex.gz
*.synctex.gz(busy)
*.synctex.(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
# *.dep
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.snm
*.vrb

# cprotect
*.cpt

#(e)ledmac/(e)ledpar
*.end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls

# gnuplottex
*-gnuplottex-*

# hyperref
*.brf

# knitr
*-concordance.tex
*-tikzDictionary

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mtc
*.mtc[0-9]
*.mtc[1-9][0-9]

# minted
_minted*
*.pyg

# morewrites
*.mw

# mylatexformat
*.fmt

# nomencl
*.nlo

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

#pdfcomment
*.upa
*.upb

# htlatex
*.4tc
*.idv
*.4ct
*.4blg
*.xref

# pythontex
*.pytxcode
pythontex-filse-*/

# Texpad
*.texpadtmp

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# todonotes
*.tdo

# xindy
*.xdy

# xypic precompiled matrices
*.xyc

# WinEdt
*.bak
*.sav

# endfloat
*.ttt
*.fff

# Latexian
TSWLatexianTemp

# Files for initializing subfolders
# Filename.md


# Version that generates html
Web

# Mac system files
.DS_Store
.Icon*

# Emacs automatic backup files
*~

# Autogenerated equations
eq

# Emacs
*.el

auto

#
_region_.*
*.cuts*

# Custom for CDC papers
*.bibkey
*.tmp
economics.bib

# BufferStockBib should be of zero size here
# so that it will be populated by the global economics.bib
# The makePublic script should populate it with the references
BufferStockTheory.bib

# Things marked _pri or private are kept locally only
*_pri
*private

.ipynb_checkpoints
.ipynb_checkpoints/*
.ipynb_checkpoints/*.*


# Custom for CDC papers
*.bibkey
*.dep

# economics.bib will be nonexistent on local machine, but should exist and be of zero size on remote
# This requires it to exist but be empty on first commit, and ignored thereafter
economics.bib
*.tmp


# Items below from https://gist.github.com/paulcbetts/2802523
*.doc  diff=astextplain
*.DOC	diff=astextplain
*.docx	diff=astextplain
*.DOCX	diff=astextplain
*.dot	diff=astextplain
*.DOT	diff=astextplain
*.pdf	diff=astextplain
*.PDF	diff=astextplain
*.rtf	diff=astextplain
*.RTF	diff=astextplain


*.jpg binary
*.png binary
*.gif binary

*.cs -text diff=csharp
*.vb -text
*.c -text
*.cpp -text
*.cxx -text
*.h -text
*.hxx -text
*.py -text
*.rb -text
*.java -text
*.html -text
*.htm -text
*.css -text
*.scss -text
*.sass -text
*.less -text
*.js -text
*.lisp -text
*.clj -text
*.sql -text
*.php -text
*.lua -text
*.m -text
*.asm -text
*.erl -text
*.fs -text
*.fsx -text
*.hs -text
.spyproject*
.spyproject/
=======
# Spyder
.spyderproject
.spyproject

/*Old/*
/Old
*.pyc

# BufferStockTheory.pdf
# BufferStockTheory-NoAppendix.pdf
# BufferStockTheory-Slides.pdf

Equations/*.tex
Appendices/All-Appendices-Add.bib
Appendices/All-Appendices.pdf
Appendices/ApndxCGroIsPGro.pdf
Appendices/ApndxCGrowthDeclines.pdf
Appendices/ApndxConcaveCFunc.pdf
Appendices/ApndxConditionDiagrams.pdf
Appendices/ApndxEuclidian.pdf
Appendices/ApndxLiqConstr.pdf
Appendices/ApndxLiqConstrAsLimit.pdf
Appendices/ApndxMPCLimits.pdf
Appendices/ApndxMTargetIsStable.pdf
Appendices/ApndxSolnMethEndogGpts.pdf
Appendices/ApndxSolnMethTermFunc.pdf
Figures/All-Figures-Add.bib
Figures/All-Figures.pdf
LaTeX/All-Appendices-Add.bib
LaTeX/All-Appendices.bib
LaTeX/All-Appendices.pdf
LaTeX/All-Figures-Add.bib
LaTeX/All-Figures.bib
LaTeX/All-Figures.pdf
LaTeX/All-Tables-Add.bib
LaTeX/All-Tables.bib
LaTeX/All-Tables.pdf
LaTeX/ApndxCGroIsPGro-Add.bib
LaTeX/ApndxCGroIsPGro.bib
LaTeX/ApndxCGroIsPGro.pdf
LaTeX/ApndxCGrowthDeclines-Add.bib
LaTeX/ApndxCGrowthDeclines.bib
LaTeX/ApndxCGrowthDeclines.pdf
LaTeX/ApndxConcaveCFunc-Add.bib
LaTeX/ApndxConcaveCFunc.bib
LaTeX/ApndxConcaveCFunc.pdf
LaTeX/ApndxConditionDiagrams-Add.bib
LaTeX/ApndxConditionDiagrams.bib
LaTeX/ApndxConditionDiagrams.pdf
LaTeX/ApndxEuclidian-Add.bib
LaTeX/ApndxEuclidian.bib
LaTeX/ApndxEuclidian.pdf
LaTeX/ApndxLiqConstr-Add.bib
LaTeX/ApndxLiqConstr.bib
LaTeX/ApndxLiqConstr.pdf
LaTeX/ApndxLiqConstrAsLimit-Add.bib
LaTeX/ApndxLiqConstrAsLimit.bib
LaTeX/ApndxLiqConstrAsLimit.pdf
LaTeX/ApndxMPCLimits-Add.bib
LaTeX/ApndxMPCLimits.bib
LaTeX/ApndxMPCLimits.pdf
LaTeX/ApndxMTargetIsStable-Add.bib
LaTeX/ApndxMTargetIsStable.bib
LaTeX/ApndxMTargetIsStable.pdf
LaTeX/ApndxSolnMethEndogGpts-Add.bib
LaTeX/ApndxSolnMethEndogGpts.bib
LaTeX/ApndxSolnMethEndogGpts.pdf
LaTeX/ApndxSolnMethTermFunc-Add.bib
LaTeX/ApndxSolnMethTermFunc.bib
LaTeX/ApndxSolnMethTermFunc.pdf
LaTeX/BufferStockTheory-Add.bib
LaTeX/BufferStockTheory-NoAppendix-Add.bib
LaTeX/BufferStockTheory-NoAppendix.bib
LaTeX/BufferStockTheory-Slides-Add.bib
LaTeX/BufferStockTheory-Slides.bib
LaTeX/BufferStockTheory.bib
Tables/All-Tables-Add.bib
Tables/All-Tables.pdf

requirements.out
src
src/

LaTeX/Comparisoon-subfile.pdf
LaTeX/Inequalities-numer_tikzMake.pdf
LaTeX/Inequalities-tikzMake.pdf
LaTeX/Inequalities_tikzMake.pdf
LaTeX/InequalityPFGICFHWCRIC-tikzMake.pdf
LaTeX/InequalityPFGICFHWCRIC_tikzMake.pdf
LaTeX/RelatePFGICFHWCRICPFFVAC-tikzMake.pdf
LaTeX/RelatePFGICFHWCRICPFFVAC_tikzMake.pdf
LaTeX/ApndxLiqConstr-last.pdf
LaTeX/ApndxLiqConstr-last.pdftotext-nofirstline

requirements.out # Ensures that fresh install will insist on new HARK
# ignore stuff generated as byproducts of running code
.idea
.pytest_cache
Old/
HarKmenberg/
cuts/
*~
